{% extends 'base.html' %} {% load staticfiles %} {% block content %} {% for neighborhood in neighborhoods%}
<div class="neighborhood-display">


  {% if neighborhood.image %}
  <img src="{{ neighborhood.image.url }}"> {% else %}
  <img src="{% static 'IMG/no_image.svg' %}"> {% endif %}


  <p>{{ neighborhood.name }}</p>
</div>

<div class="decription" style="display: block; padding-left: 350px; margin-top: -150px;">
  <h3>Location: {{ neighborhood.location }}</h3>
  <a href="{% url 'show_neighborhood' id=neighborhood.id %}"><h3>More...</h3></a>
</div>
</div>
</div>
{% endfor %} {% endblock %}
