#banner
{
  position: relative;
  background: #333 url(https://wallpaper-house.com/data/out/8/wallpaper2you_270059.jpg) no-repeat center;
  background-size: cover;
  height: 50vh;
}

.homepage #banner {

}


/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #79C255;
		color: rgba(255,255,255,.8);
		text-align: center;
	}

	#featured a
	{
		color: rgba(255,255,255,1);
	}

	#featured .button
	{
		background: #FFF;
		margin-top: 3em;
		font-size: 1em;
		color: #79C255;
	}

	#featured .title
	{
	}

	#featured .title h2
	{
		color: #FFF;
	}

	#featured .title .byline
	{
		color: rgba(255,255,255,.6);
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

.box
{
	padding: 3em 2em 2em 2em;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 8px;
		text-align: center;
}


#extra {
		overflow: hidden;
		padding: 5em 0em;
	}

#extra .title {
		text-align: center;
	}

#extra .button {
		margin-top: 5em;
}

#extra .fa {
		display: block;
		margin-bottom: 0.5em;
		text-align: center;
		font-size: 3em;
}

.gallery {
		overflow: hidden;
		margin-bottom: 3em;
	}


h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 700;
		color: #2B3F48;
	}
