
body {
  background-color: #42f4d4;
  text-align: center;
  color: white;
}

input {
  color: black;
}

/* LOGO */
.logo {
  margin: 0px;
  height: 25px;
}



.navbar {
  margin-bottom: 130px;
}

.signup-form{
  text-align: center;
}
