* {
  margin: auto;
  padding: auto;
}
.neighborhood-display {
  display: inline-block;
}


/* IMAGES */
img {
    border-radius: 8px;
    max-width: 300px;
    max-height: 300px;
    margin: 50px;
}
