/* LOGO */
.logo {
  margin: 0px;
  height: 25px;
}

.navbar {
  margin-bottom: 1px;
}

.mine-jumbotron {
  color: black;
}

.neighborhoods {
  padding-left: 190px;
  padding-right: 190px;
}
/* Scrolling */
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.main {
  padding: 16px;
  margin-top: 30px;
}
/* Footer */

	#footer {
		padding: 4em 0 2em 0;
		background: #f2f2f2;
	}

		#footer .copyright {
			color: #bfbfbf;
			font-size: 0.9em;
			margin: 0 0 2em 0;
			padding: 0 1em;
			text-align: center;
		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 3em 0 1em 0;
			}

		}
